@use "../../styles/variables" as *;
@use "../../styles/placeholder" as *;
@use "../../styles/mixin" as mx;

.logoContainer {
  border: 2px solid $color-green;
  width: fit-content;
  background-color: $color-green;
  a{
    @include mx.flexible(row, 0.5rem);
    text-decoration: none;
    h1 {
      @extend %noMarPad;
      padding: 0.1rem;
      color: $color-green;
      background-color: $color-secondary;
    }
  
    h1:nth-child(odd) {
      color: $color-secondary;
      background-color: $color-green;
    }
  }
}

@media (max-width: 1200px) {
  .logoContainer {
    border: 2px solid $color-green;
    a{
      @include mx.flexible(row, 0.5rem);
      h1 {
        padding: 0.1rem;
      }
    }
  }

}
@media (max-width: 700px) {
  
}
