@use "../../styles/placeholder" as *;

.grid{
    @extend %absoluteCenter;
    display: grid;
    align-items: center;
    max-width: 100%;
}

@media (max-width: 1200px) {

}
@media (max-width: 700px) {
    .grid{
        //!important fordi inlinestyle overruler scss
        grid-template-columns: 1fr !important;
    }
}