@use "../../styles/placeholder" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixin" as mx;

.radioContainer{
    padding: 1rem 0;
    @include mx.flexible(row, 1rem);
    @extend %absoluteCenter;
    input{
        width: 20px;
        height: 20px;
        border: 1px solid $color-green;
        cursor: pointer;
    }
    p{
        a{
            color: $color-blue;
        }
    }
}
@media (max-width: 700px) {
    .radioContainer{
        padding: 1rem 0;
        @include mx.flexible(row, 0.5rem);
        input{
            margin: 0;
        }
        p{
            font-size: 12px;
            a{
                font-size: 12px;
            }
        }
    }
}