@use '../../styles/variables' as *;

.wrapperContainer{
    background-color: $color-primary;
    padding: 5rem;
    min-height: 50vw;
}

.maxContent{
    max-width: 980px;
    margin: 0 auto;
}

@media (max-width: 700px) {
    .wrapperContainer{
        padding: 1rem 3rem;
    }
    .maxContent{
        max-width: 500px;
    }
}