@use "../../styles/variables" as *;

.btn {
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: $color-green;
  color: $color-secondary;
  width: 130px;
  height: 40px;
}

.btn-example2 {
  color: white;
}

.btn:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

@media (max-width: 1200px) {
  .btn {
    font-size: 16px;
    width: 130px;
    height: 40px;
  }
}
@media (max-width: 700px) {
  
}