@use "../../styles/placeholder" as *;
@use "../../styles/variables" as *;

.listContainer {
  position: absolute;
  left: -25%;
  top: 5%;
  h2 {
    font-size: 20px;
  }
  ul {
    @extend %roboto;
    @extend %noMarPad;
    padding-left: 1rem;
    list-style: none;

    li {
      cursor: pointer;
      font-size: 14px;
      font-weight: 300;
    }

    .active {
      font-weight: 500;
    }
  }
}

@media (max-width: 1200px) {
  .listContainer {
    position: initial;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid $color-green;
    h2 {
      font-size: 24px;
      margin: 0 0 1rem;
    }
    ul {
      padding: 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0.5rem;

      li {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}
@media (max-width: 700px) {
  .listContainer {
    h2 {
      font-size: 16px;
      font-weight: 500;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;

      li {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}
