@use "../../styles/placeholder" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixin" as mx;

.headerContainer {
  padding: 2.5rem 7.5rem;
  @include mx.flexible(row, 0rem);
  @extend %absoluteCenter;
  justify-content: space-between;
}

.content {
  @include mx.flexible(row, 2rem);

  select {
    height: 2.8rem;
    border: 2px solid $color-blue;
    &:hover{
      cursor: pointer;
    }
  }

  .listingStyle {
    width: 140px;
    height: 2.8rem;
    background-color: $color-blue;
    display: flex;
    @extend %absoluteCenter;
    &:hover{
      background-color: $color-green;
    }

    a {
      font-size: 12px;
      text-decoration: none;
      color: $color-secondary;
      width: 100%;
      padding: 0.9rem 0;
      text-align: center;
      
    }
  }

  .iconNav {
    display: flex;
    align-items: center;
    ul {
      list-style: none;
      @extend %noMarPad;
      @include mx.flexible(row, 0.5rem);
      @extend %absoluteCenter;
      li {
        a {
          width: fit-content;
          img {
            width: 35px;
            filter: opacity(50%);
            &:hover{
              filter: opacity(100%);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .headerContainer {
    padding: 2.5rem 7.5rem;
    justify-content: space-between;
  }
  .content {
    @include mx.flexible(row, 2rem);
  
    select {
      height: 2.8rem;
      border: 2px solid $color-blue;
    }
  
    .listingStyle {
      width: 140px;
      height: 2.8rem;
      display: flex;
      a {
        font-size: 12px;
        width: 100%;
        padding: 0.9rem 0;
      }
    }
    .iconNav {
      display: flex;
      align-items: center;
      ul {
        @include mx.flexible(row, 0.5rem);
        li {
          a {
            width: fit-content;
            img {
              width: 35px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 700px) {
  
}
