@use "../../styles/placeholder" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixin" as mx;

.footerContainer {
  padding: 0rem 5rem 2rem;
  background-color: $color-blue;
  ul {
    min-height: 100%;
    list-style: none;
    @extend %noMarPad;

    li {
      @extend %roboto;
      font-size: 12px;
    }
    h4 {
        padding: 2rem 0;
        margin: 0;
      font-size: 20px;
      color: $color-secondary;
    }
    a {
      color: $color-secondary;
    }
  }
}

.liLink{
    padding-top: 1rem;
}
