@use "../../styles/mixin" as mx;
@use "../../styles/placeholder" as *;
@use "../../styles/variables" as *;

h6 {
  @extend %noMarPad;
}
p {
  @extend %noMarPad;
}
h2 {
  text-align: center;
}

.signedInContainer {
  @include mx.flexible(row, 1rem);
  button {
    background-color: $color-blue;
    &:hover {
      background-color: $color-brown;
    }
  }
  button:last-of-type {
    &:hover {
      background-color: $color-green;
    }
  }
}

.signupContainer{
  h2{
    @extend %noMarPad;
  }
  .signinChange{
    font-weight: 200;
  }
}

.formStyling {
  @include mx.flexible(column, 1rem);
  justify-content: center;
  h2 {
    text-align: center;
  }
  p {
    font-size: 0.9rem;
    font-weight: 200;
  }
}

.toggle {
  color: $color-blue;
  text-decoration: underline;
  cursor: pointer;
}

.buttonContainer {
  @include mx.flexible(row, 1rem);
  justify-content: flex-end;

  button {
    min-width: 130px;
  }
}

.messageContainer {
  padding: 1rem 0;
}

.error {
  color: $color-brown;
}

.success {
  color: $color-green;
}


@media (max-width: 700px) {
  .signedInContainer {
    @include mx.flexible(row, 0.5rem);
  }

  .signupContainer{
    .signinChange{
      font-size: 12px;
    }
  }

  .formStyling {
    @include mx.flexible(column, 0.5rem);
    p {
      font-size: 14px;
    }
  }
  .buttonContainer {
    @include mx.flexible(row, 0.5rem);
    button {
      min-width: 100px;
    }
  }
  .messageContainer {
    padding: 1rem 0;
  }
}
