@use "../../styles/variables" as *;
@use "../../styles/placeholder" as *;
@use "../../styles/mixin" as mx;

.nopageContainer {
  @include mx.flexible(column, 1rem);
  @extend %absoluteCenter;

  a {
    color: $color-blue;
  }
}

@media (max-width: 700px) {
  h3{
    font-size: 18px;
  }
  a{
    font-size: 14px;
  }
}
